@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: poppins;
}

.bg-background {
    background-image: url(./assets//vectorMob.png);
    background-position: right;
    background-repeat: no-repeat;
}

.dotsBg {
    background-image: url(./assets//dots.png);
    background-repeat: no-repeat;
    background-position: left;
}
